Load the CSV and necessary libraries.

In [288]:
import csv
import numpy as np
import pandas as pd

df = pd.read_csv('dsm-beuth-edl-demodata-dirty.csv')

Drop rows where all columns are NAN:

In [289]:
df = df.dropna(how='all')

Deduplicate rows that have the same fullname and email:

In [290]:
df = df.drop_duplicates(subset=['full_name','email'])

Recreate the id column to ensure all rows have ids:

In [291]:
df.id = np.arange(df['id'].iloc[0], len(df['id'])+1, 1.0)
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,16.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,17.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,18.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,19.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,20.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

Replace NaN and negative ages with the median age:

In [292]:
df.age = pd.to_numeric(df['age'], errors='coerce')
df.loc[(df['age'] < 0) | (df['age'].isnull()), 'age'] = df.age.median()
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60.0
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12.0
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26.0
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4.0
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17.0
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77.0
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25.0
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77.0
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45.0
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,25.0
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6.0
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16.0
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91.0
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22.0
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16.0
16,16.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2.0
18,17.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,25.0
19,18.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65.0
20,19.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45.0
21,20.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72.0

Replace NaN genders with the gender that appears the most:

In [293]:
df = df.fillna(df['gender'].value_counts().index[0])
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60.0
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12.0
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26.0
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4.0
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17.0
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77.0
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25.0
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77.0
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45.0
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,25.0
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6.0
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16.0
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91.0
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22.0
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16.0
16,16.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2.0
18,17.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,25.0
19,18.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65.0
20,19.0,Kerianne Goacher,Kerianne,Goacher,Male,Female,45.0
21,20.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72.0